<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  href="{{ url_for('static', filename='styles/login.css') }}">
    <title>Provjera</title>
    {{bootstrap.load_css()}}
</head>
<body>
   

    <div class="wrapper fadeInDown">
        <div id="formContent">
         
          <!-- Login Form -->
          <form class="form-horizontal" method="POST" action="">
            {{ form.csrf_token() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username }}
            </div>
           
            <div class="form-group">
                {{ form.surname.label }}
                {{ form.surname }}
            </div>
           
            <div class="form-group">
                {{ form.submit(class="btn btn-primary")}}
            </div>
        </form>
    
        </div>
      </div>
</body>
</html>